@import "variables";
@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");
@import url("http://fonts.googleapis.com/css?family=Pacifico");
@import url("http://fonts.googleapis.com/css?family=PT+Mono");

body {
  color: @clouds;
  font-family: "Oswald";
  background: @pomegranate;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

h1 {
  font-family: "Pacifico";
  color: @clouds;
  margin-bottom: 25px;
}

h2 {
  font-family: "Pacifico";
  color: @midnight_blue;
  margin-bottom: 25px;
}

.logout {
  float: right;
  font-size: larger;
  cursor: pointer;
}

.delete-room {
  cursor: pointer;
  color: @pomegranate;
}

.delete-room:hover {
  color: @alizarin;
}

.join:hover {
  cursor: pointer;
  color: @clouds;
}

.online-status {
  color: @sun_flower;
}

.danger {
  color: @pomegranate;
}

.danger:hover {
  color: @alizarin;
}

.message-input {
  background: @wet_asphalt;
  color: @silver;
  height: 55px;
  border: 0;
  outline: none;
}

.add-room-input {
  margin-top: @title-lower-margin !important;
  background: @silver;
  color: @wet_asphalt;
  border: 0;
  outline: none !important;
}

.room {
  font-weight: 300;
  margin-top: 5px;
  font-size: 18px;
}

.my-room {
  .room;
  color: @sun_flower;
  .join:hover {
    color: @orange;
  }
}

.system-room {
  .room;
  color: @orange;
  .join:hover {
    color: @sun_flower;
  }
}


.base-panel {
  .title {
    font-weight: 300;
    font-size: 24px;
//    float: right;
    margin-bottom: @title-lower-margin;
  }
  border: 0;
  height: 100%;
}

.login-panel {
  .base-panel;
  background: @clouds;
  color: @wet_asphalt !important;
  font-size: larger;

  a {
    text-decoration: none;
    color: @belize_hole;
  }
}

.sidebar-color {
  background: @wet_asphalt;
  color: @silver;
}

.room-list {
  .base-panel;
  .sidebar-color;
}

.main-panel {
  .base-panel;
  color: @wet_asphalt;
  background: @silver;
}

.member-list {
  .base-panel;
  .sidebar-color;
}

.chat-display {
  .base-panel;
  .sidebar-color;
  margin-top: @title-lower-margin;
  height: @chat-display-height;
  overflow: scroll;
}

.chat-form {
  .base-panel;
  .sidebar-color;
}

.screw-copyrights {
  margin-top: 40px;
  float: right;
  font-weight: 300;
}

.message-handle {
  color: @carrot;
  font-family: "PT Mono";
}

.message-content {
  font-family: "PT Mono";
  color: @clouds;
  font-size: larger;

}

.message-timestamp {
  font-family: "PT Mono";
}